<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] — Управление экспериментами</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<header>
    <nav class="navbar">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">🔬 LabApp</a>
        <div class="navbar-links">
            <a asp-controller="Laboratory" asp-action="Index">Лаборатории</a>
            <a asp-controller="Experiment" asp-action="Index">Эксперименты</a>
            <a asp-controller="Report"     asp-action="Index">Отчёт</a>
        </div>
    </nav>
</header>

<main class="container">

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">✔ @TempData["Success"]</div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-error">✘ @TempData["Error"]</div>
    }

    @RenderBody()
</main>

<footer>
    <p>МГТУ им. Н.Э. Баумана · Кафедра ИУ5 · ДЗ №3 · Вариант 10</p>
</footer>

</body>
</html>
